*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: #2b2e56;
    height: 100vh;
    color: white;
    display: grid;
    gap: 10px;
    padding: 10px;
}
.grid1{
    background-color: green;
    display: grid;
    grid-column: 1/6;
    grid-row: 1/2;
}
.grid2{
    background-color: green;
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
}
.grid3{
    background-color: green;
    display: grid;
    grid-column: 2/6;
    grid-row: 2/3;
}
.grid4{
    background-color: green;
    display: grid;
    grid-column: 2/4;
    grid-row: 3/4;
}
.grid5{
    background-color: green;
    display: grid;
    grid-column: 4/6;
    grid-row: 3/4;
}
.grid6{
    background-color: green;
    display: grid;
    grid-column: 1/6;
    grid-row: 4/5;
}
@media (max-width: 770px){
    .grid2{
    background-color: green;
    display: grid;
    grid-column: 1/6;
    grid-row: 2/3;
}
.grid3{
    background-color: green;
    display: grid;
    grid-column: 1/6;
    grid-row: 3/4;
}
.grid4{
    background-color: green;
    display: grid;
    grid-column: 1/6;
    grid-row: 4/5;
}
.grid5{
    background-color: green;
    display: grid;
    grid-column: 1/6;
    grid-row: 5/6;
}
.grid6{
    background-color: green;
    display: grid;
    grid-column: 1/6;
    grid-row: 6/7;
}
}